@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a>
            <span class="glyphicon glyphicon-shopping-cart">
                <span class="cart-status">
                    @*
                    @Model.ShoppingCart.GetShoppingCartItems().Count
                    *@
                    @Model.ShoppingCart.ShoppingCartItems.Count()
                </span>
            </span>
        </a>
    </li>
}
